<!-- ============================================ -->
<!--                     Hero                     -->
<!-- ============================================ -->

<section id="hero-1946">
  <div class="overlay"></div> <!-- Overlay for background image -->
  <div class="cs-container">
      <div class="cs-content">
          <h2 class="cs-title">FOTOGRAFÍA CON DOYLE, TU PROPIEDAD SE MUEVE</h2>
          <div class="cs-flex">
              <p class="cs-text">Capturamos al máximo el potencial de tu propiedad generando el mejor contenido del mercado. Vende y alquila más dándole un toque visual único a tu propiedad.</p>
              <a href="#contact-1388" class="cs-button-solid">Consultar</a>
          </div>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <picture class="cs-icon-picture">
                  <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/tool.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
              </picture>
              <div class="cs-text-group">
                  <h3 class="cs-h3">Fotografía</h3>
                  <p class="cs-item-text">Imágenes de tus espacios que hablan por sí solas.</p>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-icon-picture">
                  <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/hard-hat.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
              </picture>
              <div class="cs-text-group">
                  <h3 class="cs-h3">Dron</h3>
                  <p class="cs-item-text">Cobertura completa de la zona accediendo a una emocionante perspectiva aérea.</p>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-icon-picture">
                  <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/double-bed.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
              </picture>
              <div class="cs-text-group">
                  <h3 class="cs-h3">Tour Virtual</h3>
                  <p class="cs-item-text">Convierte tu propiedad en una experiencia web única.</p>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-icon-picture">
                  <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/building.svg" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
              </picture>
              <div class="cs-text-group">
                  <h3 class="cs-h3">Arquitectura y diseño</h3>
                  <p class="cs-item-text">Presenta los planos y renders de tu propiedad en su mejor versión alguna vez creada.</p>
              </div>
          </li>
      </ul>
  </div>
</section>

<style>
/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/

/* Base styles */
#hero-1946 {
  padding: var(--sectionPadding);
  padding-top: clamp(10rem, 20vw, 12.5rem);
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-image: url('https://i.postimg.cc/SsmsLbQM/pexels-heyho-8146156.jpg'); /* Add your background image */
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating */
  background-color: rgba(255, 255, 255, 0.8); /* Fallback color */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent black overlay */
    z-index: 0; /* Position it behind the content */
}

#hero-1946 .cs-container {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

#hero-1946 .cs-content {
  text-align: center;
  width: 100%;
  margin-bottom: clamp(2.5rem, 5vw, 3.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

#hero-1946 .cs-flex {
  flex: none;
}

#hero-1946 .cs-title {
  font-size: clamp(2.438rem, 5vw, 3.813rem);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09); /* Shadow effect */
}

#hero-1946 .cs-text {
  margin-bottom: 1.25rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.09); /* Shadow effect */
  font-size: clamp(1.60rem, 3vw, 1.45rem);
  font-weight: 500;
}

#hero-1946 .cs-button-solid {
  font-size: 1rem;
  font-weight: 700;
  line-height: clamp(2.875rem, 5.5vw, 3.5rem);
  text-align: center;
  text-decoration: none;
  min-width: 9.375rem;
  margin: 0;
  box-sizing: border-box;
  padding: 0 clamp(2rem, 4vw, 3rem);
  background-color: var(--primary);
  color: var(--bodyTextColorWhite);
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: color 0.3s, background-color 0.3s;
}

#hero-1946 .cs-button-solid:hover {
  background-color: #000;
  color: #fff;
}

#hero-1946 .cs-card-group {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(1rem, 2vw, 1.25rem);
}

#hero-1946 .cs-item {
  text-align: center;
  list-style: none;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: clamp(1.5rem, 3vw, 2rem);
  background-color: #F7F7F7;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 12;
  position: relative;
  z-index: 1;
  transition: border-color 0.3s;
}

#hero-1946 .cs-item:hover {
  border-color: var(--primary);
}

#hero-1946 .cs-item:hover .cs-h3 {
  color: var(--primary);
}

#hero-1946 .cs-item:hover .cs-icon {
  transform: rotateY(360deg);
}

#hero-1946 .cs-icon-picture {
  margin-bottom: 1.25rem;
  perspective: 700px;
  transform-style: preserve-3d;
}

#hero-1946 .cs-icon {
  width: 2.5rem;
  height: auto;
  display: block;
  transition: transform 0.5s;
}

#hero-1946 .cs-h3 {
  font-size: 1.25rem;
  line-height: 1.5em;
  text-align: inherit;
  margin: 0;
  margin-bottom: 0.75rem;
  color: var(--headerColor);
  transition: color 0.3s;
}

#hero-1946 .cs-item-text {
  font-size: clamp(0.875rem, 1.5vw, 1rem);
  line-height: 1.5em;
  text-align: inherit;
  margin: 0;
  color: var(--bodyTextColor);
}

/* Media Queries */

/* Mobile - 360px */
@media only screen and (max-width: 48rem) {
  #hero-1946 .cs-title {
      font-size: 1.75rem;
  }

  #hero-1946 .cs-button-solid {
      font-size: 0.875rem;
  }

  #hero-1946 .cs-text {
      font-size: 0.875rem;
  }

  #hero-1946 .cs-item {
      padding: 1rem;
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1946 .cs-item {
      text-align: left;
      align-items: flex-start;
      grid-column: span 6; /* Adjust the grid layout */
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-1946 .cs-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #hero-1946 .cs-title {
      max-width: 46.875rem;
  }

  #hero-1946 .cs-item {
      grid-column: span 3; /* Adjust for larger screens */
  }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1946 .cs-container {
      max-width: 70rem;
  }

  #hero-1946 .cs-title {
      font-size: 3rem; /* Larger title for big screens */
  }
  
}
</style>
